---
import Layout from '../layout.astro';
import Hero from '../../../shared/components/Hero/Hero.jsx';
import Projects from '../../../shared/components/Sections/Projects.jsx';
import Experiences from '../../../shared/components/Sections/Experiences.jsx';
import Qualifications from '../../../shared/components/Sections/Qualifications.jsx';
import Contact from '../../../shared/components/Contact/Contact.jsx';

// Import data
import heroData from '../data/hero.json';
import projectsHeaderData from '../data/projects-header.json';
import projectsItemsData from '../data/projects-items.json';
import experiencesData from '../data/experiences.json';
import qualificationsHeaderData from '../data/qualifications-header.json';
import skillsData from '../data/skills.json';
import contactData from '../data/contact.json';
---

<Layout title="Preston Garrison - Developer">
  <main>
    <Hero client:load data={heroData} />
    <Projects client:load projectItems={projectsItemsData} header={projectsHeaderData} />
    <div id="qualifications">
      <Qualifications client:load headerData={qualificationsHeaderData} skillsData={skillsData} />
    </div>
    <div id="experiences">
      <Experiences client:load experienceItems={experiencesData.items} header={experiencesData.header} />
    </div>
    <div id="contact">
      <Contact client:load contactData={contactData} />
    </div>
  </main>
</Layout>